.App {
 
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(105,9,121,1) 100%, rgba(0,212,255,1) 100%, rgba(85,48,147,1) 100%);
}

.image-widht{
  width: 80%;
}

